<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="output.css">
</head>
<body class="bg-admin">
    <header class="header-main">
        <div class="flex items-center h-full">
            <h1 class="header-title"><a href="/">VIKING SHOP</a></h1>
        </div>
        <nav class="header-nav">
            <a href="/bike/index" class="header-link">Bikes</a>
            <a href="/color/index" class="header-link">Colors</a>
            <a href="/type/index" class="header-link">Types</a>
            <a href="/admin" class="header-link">Bike routes</a>
        </nav>
    </header>


    <div class="flex flex-col w-full items-center bg-container">
        {{#bikes}}
        <br>
        <div class="flex flex-col justify-center border-2 border-black p-5 w-50 b-radius bg-container">
            <a>Model: {{model}}</a>
            <a>Price: {{price}}€</a>
            <a>Type: {{#typeBike}}{{name}}{{/typeBike}}</a>
            <a>Color: {{#colorBike}}{{name}}{{/colorBike}}</a>
            <a>Description: {{description}}</a>
            <br>
            <div class="flex">
                <a href="bike/{{id}}/edit" class="px-4 py-2 border btn-green">Edit</a>
                <button onclick="deleteBike(this,'bike/{{id}}/delete')" class="px-4 py-2 border btn-red">Delete</button>
            </div>
        </div>

        {{/bikes}}
    </div>

    {{^bikes}}
    <p>There is not any ad of bikes, create one</p>
    {{/bikes}}

    <script>
        function deleteBike(button, url) {
          let count = button.count || 0;
          count++;
          button.count = count;

          if (count === 1) {
            button.style.backgroundColor = "red";
            button.style.color = "white";
            button.textContent = "Are you sure of deleting this ad?";
          }

          else if (count === 2) {
            button.textContent = "One more click to delete it";
          }

          else if (count === 3) {
            window.location.href = url;
          }
        }
    </script>
</body>
</html>