<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <header class="header-main">
        <div class="flex items-center h-full">
            <h1 class="header-title"><a href="/">VIKING SHOP</a></h1>
        </div>
        <nav class="header-nav">
            <a href="/admin" class="header-link">Admin zone</a>
            <a href="/admin" class="header-link">Bike Tournaments</a>
            <a href="/admin" class="header-link">Meet Bikers</a>
            <a href="/admin" class="header-link">Bike routes</a>
        </nav>
    </header>

    <div class="bg-softBeige h-8"></div>

    <div class="h-8 flex justify-center items-center">Viking shop, the favourite shop of bikers around the world </div>

    <div class="bg-softBeige h-8"></div>

    <div class="bg-imageHeader"></div>

    <div class="flex flex-col w-full">
        {{#bikes}}
        <div class="flex flex-col justify-center border-2 border-black p-5">
            <a>Model: {{model}}</a>
            <a>Price: {{price}}€</a>
            <a>Type: {{#typeBike}}{{name}}{{/typeBike}}</a>
            <a>Color: {{#colorBike}}{{name}}{{/colorBike}}</a>
            <a>Description: {{description}}</a>
        </div>
        <br>
        {{/bikes}}
    </div>

    {{^bikes}}
    <p>There aren't any ad of bikes yet</p>
    {{/bikes}}

    <br>

    <footer>

    </footer>
</body>
</html>